*.pyc
__pycache__/
*.pyo
*.egg-info/
dist/
build/
*.egg
.env
db.sqlite3
media/
staticfiles/
venv/
.venv/
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
node_modules/
docker-compose.override.yml
