Django>=5.0,<6.0
djangorestframework>=3.14
drf-yasg>=1.21
django-cors-headers>=4.0
django-extensions>=3.2
django-celery-beat>=2.5
django-environ>=0.11
whitenoise>=6.5
hijridate>=2.3
requests>=2.31
reportlab>=4.0
qrcode>=7.0
Pillow>=10.0
channels>=4.0
channels-redis>=4.0
celery>=5.3
redis>=5.0
gunicorn>=21.2
daphne>=4.0
pyotp>=2.9.0
